# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual env
venv/
env/
.venv/

# Django
*.sqlite3
*.log
staticfiles/
media/

# Secrets
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
